* {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    font-family: 'Indie Flower', cursive;
}

body {
    background: #ccf2ff;
    background-size: 100%;
}

.container {
    width: 100%;
}

img {
    margin: 10px;
    margin-bottom: 0;
}

.row {
    margin-bottom: 20px;
}

#not-devoured {
    text-align: left;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding-right: 0;
    color: #76a159;
}

.devour-form {
    width: 20%;
    display: inline-block;
    margin-right: 40px;
    font-family: 'Amatic SC', cursive;
}

#top {
    background: #808080;
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.devour-button {
    margin-right: 30px;
    margin-left: 20px;
}

#devoured {
    text-align: left;
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}


/*p-tag of devoured burgers*/

.p-devoured {
    font-family: 'Amatic SC', cursive;
    color: #808080;
}

h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}


/*Devoured header*/

#devoured-h {
    width: 100%;
}


/*To Devour header*/

#to-devour-h {
    margin-right: 100px;
    color: black;
}
